*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: brightly;
    src: url('../fonts/Brightly Crush - Playful Typeface/1. Regular/2. TTF/Brightly Crush.ttf');
}

@font-face {
    font-family: baskerville;
    src: url('../fonts/Baskerville/BaskervilleBT.ttf');
}

@font-face {
    font-family: baskerville-italic;
    src: url('../fonts/Baskerville/BaskervilleBoldItalicBT.ttf');
}

@font-face {
    font-family: baskerville-bold;
    src: url('../fonts/Baskerville/baskerville bold bt.ttf');
}

/* general styles to use */
.capitalize {
    text-transform: capitalize;
}

.no-select {
    user-select: none;
}

