html, body {
    overflow: hidden;
}

@keyframes gradient-change {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #87FFFA;
    }

    50% {
        text-shadow: 0 0 10px #87FFFA;
    }

    100% {
        text-shadow: 0 0 5px #87FFFA;
    }
}

@keyframes enlarge {
    0% {
        font-size: 0;
    }

    50% {
        font-size: 3.5vw;
    }

    100% {
        font-size: 7vw;
    }
}

@font-face {
    font-family: brightly;
    src: url('../fonts/Brightly Crush - Playful Typeface/1. Regular/2. TTF/Brightly Crush.ttf');
}

#balls-canvas {
    top: 0;
    left: 0;
    position: absolute;
}

.background-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(139deg, rgba(242,102,102,1) 0%, rgba(255,183,88,1) 25%, rgba(110,235,255,1) 50%, rgba(246,235,106,1) 75%, rgba(255,207,207,1) 100%);
    background-size: 600% 100%;
    animation: gradient-change 5s linear infinite alternate;
}

.birthday-word {
    font-family: brightly;
    margin: 0;
    text-align: center;
    letter-spacing: 2.25px;
    font-size: 0;
    color: #6DD9DF;
    user-select: none;
}

.word3 {
    font-style: italic;
}

@media only screen and (max-width: 480px) {
    @keyframes enlarge {
        0% {
            font-size: 0;
        }

        50% {
            font-size: 5vw;
        }

        100% {
            font-size: 12vw;
        }
    }
}

