:root {
    --start-pos: -600%;
}

@keyframes right-slide {
    from {
        right: var(--start-pos);
    }

    to {
        right: 0;
    }
}

@keyframes left-slide {
    from {
        left: var(--start-pos);
    }

    to {
        left: 0;
    }
}

#bubbles-canvas {
    z-index: -1;
}

.front-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.placeholder {
    width: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.birthday-wish {
    color: white;
    display: inline;
    position: relative;
}

.left-wish {
    left: var(--start-pos);
    animation: left-slide 2s ease-in-out forwards;
}

.right-wish {
    right: var(--start-pos);
    animation: right-slide 2s ease-in-out forwards;
    animation-delay: 1s;
}

