body {
    background-color: #0D0D0D;
    color: #E6E6E6;
}

.msg {
    width: 90%;
    font-size: clamp(2rem, 5vw, 7rem);
    text-align: center;
    font-family: vibes;
    font-weight: normal;
    background: linear-gradient(135deg, rgba(9,83,230,1) 20%, rgba(233,143,15,1) 55%, rgba(124,3,210,1) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#triangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

