html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	text-align: center;
	margin: 0;
}

.errNum {
	margin-top: 4rem;
	font-size: 15vw;
}

.short-desc {
	font-size: 2vw;
}

span {
	text-decoration: underline;
	cursor: pointer;
}

.long-desc {
	margin-top: 1.5rem;
	font-size: 2vw;
}