*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgba(60,158,191,1) 0%, rgba(8,93,166,1) 100%);
	width: 80%;
	margin: 2rem auto;
	color: rgb(247, 242, 242);
}

.pointer {
	cursor: pointer;
	border-bottom: thin solid white;
}

h1 {
	text-align: center;
	font-size: 5rem;
	text-transform: capitalize;
}

.intro {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.intro p {
	font-size: 2rem;
}

.intro .init {
	text-transform: capitalize;
	display: block;
	text-align: center;
	font-size: 3rem;
}

.intro .p-s {
	font-size: 1.25rem;
}

.selection {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}

.opt {
	text-transform: capitalize;
	font-size: 2rem;
}

.projects {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.name a {
	color: rgb(218, 213, 213);
}

.publish {
	margin-top: 10px;
	font-size: 1.25rem;
	text-transform: none;
}

hr {
	margin-top: 5em;
}

.reassure {
	font-size: 2rem;
	text-align: center;
	margin: 3rem auto;
}