html, body {
    overflow: visible;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 100px;
}

body {
    background: #272727;
    color: #C0C0C0;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
    text-decoration: underline;
}

.title {
    text-align: center;
    text-transform: capitalize;
    font-size: clamp(2rem, 4vw, 5rem);
}

.intro {
    width: 85%;
    margin: 0 auto 5% auto;
    text-align: center;
}

.intro p {
    font-size: 2rem;
}

.intro .welcome-msg {
    text-transform: capitalize;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 3% auto .75% auto;
    text-align: center;
}

.intro .intro-para {
    font-size: clamp(1rem, 3vw, 2rem);
}

.intro .ps {
    font-size: clamp(0.75rem, 3vw, 1.25rem);
}

.selection {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.option {
    font-size: clamp(1rem, 3vw, 2rem);
}

.project-name .project-link {
    color: rgb(218, 213, 213);
}

.publish {
    margin-top: 1%;
    font-size: clamp(.75rem, 3vw, 1.25rem);
    text-transform: none;
}

footer {
    font-size: clamp(.25rem, 4vw, 2rem);
    text-align: center;
    margin-bottom: 1%;
}

hr {
    width: 98%;
    margin: 3% auto 1% auto;
}

@media only screen and (max-width: 680px) {
    .intro {
        text-align: justify;
        width: 90%;
    }
}
