@keyframes gradient-change {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

@keyframes enlarge {
    0% {
        font-size: 0;
    }

    50% {
        font-size: 3.5vw;
    }

    100% {
        font-size: 7vw;
    }
}

@font-face {
    font-family: brightly;
    src: url('./fonts/Brightly Crush - Playful Typeface/1. Regular/2. TTF/Brightly Crush.ttf');
}

.background-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(139deg, rgba(196,61,104,1) 25%, rgba(11,138,153,1) 50%, rgba(152,61,196,1) 75%, rgba(153,73,11,1) 100%);
    background-size: 600% 100%;
    animation: gradient-change 10s linear alternate infinite;
}

.birthday-word {
    font-family: brightly;
    margin: 0;
    text-align: center;
    letter-spacing: 2.25px;
    font-size: 0;
    color: #EEEEEE;
}

.word3 {
    font-style: italic;
}

