@keyframes gradient-change {
    from {
        background: linear-gradient(139deg, rgba(196,61,104,1) 0%, rgba(153,73,11,1) 100%);
    }

    to {
        background: linear-gradient(139deg, rgba(152,61,196,1) 0%, rgba(11,138,153,1) 100%);
    }
}

@keyframes enlarge {
    0% {
        font-size: 0;
    }

    50% {
        font-size: 3.5vw;
    }

    100% {
        font-size: 7vw;
    }
}

@font-face {
    font-family: brightly;
    src: url('./fonts/Brightly Crush - Playful Typeface/1. Regular/2. TTF/Brightly Crush.ttf');
}

.background-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.birthday-word {
    font-family: brightly;
    margin: 0;
    text-align: center;
    letter-spacing: 2.25px;
    font-size: 0;
}

.word3 {
    font-style: italic;
}

